@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    /* background-color: #FCF9ED; */
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {}

nav {
    background-color: #FCF9ED;
}

.navbar-brand img {
    width: 150px;
}

.navbar .container-fluid {
    flex-direction: column;
}

.navbar button {
    width: auto;
}

.navbar-nav {
    /* background-color: orange; */
    padding-top: 20px;
}

.nav-but .btn {
    border-radius: 0;
    background-color: #474247;
    color: white;
}

.nav-but .btn:hover {
    border-radius: 0;
    background-color: black !Important;
    color: white;
}

.nav-link {
    position: relative;
}

.nav-link::after {
    opacity: 0;
    transition: all 0.2s;
    content: '';
    height: 2px;
    width: 100%;
    background-color: #474247;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link:hover::after {
    opacity: 1;
}

.nav-item {
    font-weight: 600;
}


/* ======================== */

.hero-img {
    height: 40vh;
}

.hero-landing {
    background-image: url("img/granola.jpg");
    background-position: center;
    background-size: cover;
    height: 70vh;
}

.hero-landing-text {
    padding: 40px 60px;
    background-color: white;
}

.hero-landing-text h1 {
    padding-bottom: 15px;
    font-weight: 400;
}

.hero-landing-text p {
    padding-bottom: 15px;
    font-size: 20px;
}

.hero-landing-text button {
    background-color: #474247;
    color: white;
    border: none;
    padding: 20px 40px;
}

.hero-landing .btn {
    border-radius: 0;
    background-color: #474247;
    color: white;
}

.hero-landing .btn:hover {
    border-radius: 0;
    background-color: black !Important;
    color: white;
}

/* ==================== ABOUT */

.about {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FCF9ED;
}

.about-text {
    line-height: 30px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
}

.column-1 {
    width: 65%;
    padding-right: 40px;
}

.column-2 {
    width: 35%;
}

.signature {
    width: 100px;
    border-radius: 0;
}

.portrait {
    width: 350px;
    border-radius: 50%;
}

.about .certifications {
    padding-top: 20px;
}

/* =================== */

.landing-3 {
    background-image: url("img/lower.jpg");
    background-position: center;
    background-size: cover;
}

/* ================== SERVICES */

.services {
    background-color: #FCF9ED;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-list {
    display: inline-flex;
    flex-direction: row;
    gap: 50px;
}

.service-item {
    gap: 20px;
}

.service-list p,
a {
    font-size: 18px;
}

.service-list a {
    color: #474247d3;
}


/* DEMO RECIPE */

.demo-recipe {
    background-image: url("img/salad.jpg");
    background-position: center;
    background-size: cover;
    min-height: 50vh;
}

.demo-recipe-box {
    display: flex;
    align-items: center;
    margin: auto;
}

.demo-recipe-text {
    /* width: 40%; */
    background-color: white;
    padding: 40px;
}

.demo-recipe-text p {
    padding-top: 10px;
    font-size: 18px;
}

.demo-recipe-text .btn {
    border-radius: 0;
    background-color: #474247;
    color: white;
    width: 50%;
    padding: 10px 20px;
}

.demo-recipe-text .btn:hover {
    border-radius: 0;
    background-color: black !Important;
    color: white;
}


/* FOOTER */

.footer {
    background-color: #474247;
    color: white;
    min-height: 35vh;
}

.footer-text {
    text-align: center;
    /* height: 50vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 35vh;
}

.footer p {
    padding-bottom: 15px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-text .btn {
    border-radius: 0;
    color: #474247;
    background-color: white;
    width: auto;
    padding: 10px 20px;
}

.footer-text .btn:hover {
    border-radius: 0;
    background-color: black !Important;
    color: white;
}


@media (min-width: 992px) {
    .about-text {
        width: 75vw;
    }

    .service-list {
        width: 75vw;
    }

    .demo-recipe-box {
        width: 75vw;
    }

    .demo-recipe-text {
        width: 600px;
    }

}

@media (max-width: 992px) {
    .nav-order {
        display: flex;
        flex-direction: row;
    }

    .navbar .container-fluid {
        flex-direction: row;
    }

    .about-text {
        width: 85vw;
    }

    .about-text {
        flex-direction: column-reverse;
    }

    .column-1 {
        width: 100%;
        padding-right: 0px;
    }

    .column-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-bottom: 40px;
    }

    .portrait {
        width: 300px;
        border-radius: 50%;
    }

    .service-list {
        width: 85vw;
    }

    .service-list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .demo-recipe-box {
        flex-direction: column;
        width: 85vw;
    }

    .demo-recipe-text {
        width: 90vw;
    }
}

@media (max-width: 575.98px) {
    .demo-recipe {
        background-image: url("img/salad.jpg");
        background-position: inherit;
        min-height: 60vh;
    }

    /* .demo-recipe-text {
        width: 100vw;
        height: auto;
    } */

    .demo-recipe-text .btn {
        width: 100%;
    }

    .hero-landing .btn {
        width: 100%;
    }
}

@media (max-width: 332px) {
    .hero-landing-text {
        width: 100vw;
        height: auto;
        padding: 50px 20px;
        /* padding: 40px 60px; */
        background-color: white;
    }
}

@media (max-width: 393px) {
    .navbar-brand img {
        width: 125px;
    }

    .portrait {
        width: 250px;
        border-radius: 50%;
    }

    .demo-recipe-text {
        width: 100vw;
    }
}